{
  "extends": "airbnb",
  "rules": {
    "indent": ["error", 4, {"SwitchCase": 1}],
    "max-len": ["error", 120],
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "no-underscore-dangle": ["off"],
    "no-cond-assign": ["error", "except-parens"],
    "no-plusplus": ["off"],
    "consistent-return": ["off"],
    "no-console": ["off"],
    "no-unused-expressions": ["error", {"allowShortCircuit": true}],
    "comma-dangle": [
      "error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ]
  },
  "env": {
    "node": true
  }
}